.update-wallet {
  .update-wallet__amount-top {
    padding: 0 20px;
  }

  input {
    background-color: transparent;
    border: none;
    caret-color: #820ad1;
    font-size: 22px;
    outline: transparent;
  }
}
