.home__footer {
  border-top: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-around;
  padding: 16px 0;

  button,
  a {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    font-size: 14px;
    padding: 4px 18px;
    text-decoration: none;

    ion-icon {
      color: #820ad1;
      height: 20px;
      width: 24px;
    }

    span {
      color: #484444;
      margin-top: 8px;
    }
  }
}
