.home__accounts {
  min-height: calc(100vh - 183px - 83px);
  padding-bottom: 80px;

  .home__accounts-item {
    --border-width: 0;
    border-bottom: 1px solid #c4c4c4;
    padding: 20px 0;

    &:last-of-type {
      border: none;
    }

    .name {
      font-size: 14px;
      line-height: 18px;

      strong {
        display: inline-block;
        margin-bottom: 4px;
      }

      p {
        margin: 0;
      }
    }

    .value {
      font-size: 14px;
      color: #979696;
      text-align: right;
      width: 200px;
    }
  }
}
