.select-income__button {
  border-top: 1px solid #c4c4c4;

  button {
    background-color: transparent;
    color: #820ad1;
    display: block;
    font-weight: bold;
    padding: 35px 0;
    width: 100%;
  }
}
